<div class="login">
  <form
    class="form-signin"
    autocomplete="off"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <h1 class="h3 mb-3 font-weight-normal form-signin-title">Please sign in</h1>
    <div class="form-signin-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email address"
        autofocus
        id="inputEmail"
        formControlName="email"
      />
    </div>
    <div class="form-signin-group">
      <p
        *ngIf="f.email.dirty && f.email.touched && f.email.errors"
        class="invalid-text"
      >
        Email is required
      </p>
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <p
      *ngIf="f.password.dirty && f.password.touched && f.password.errors"
      class="invalid-text"
    >
      Email is required
    </p>
    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <div class="form-signin-button">
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>
    </div>
  </form>
</div>
