<div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <div *ngIf="item.quantity > 0">
      <span>{{ item.product }}</span><br />
      <span>quantity: {{ item.quantity }} </span>
      <button type="button" class="btn btn-sm btn-outline-secondary btn" (click)="addItem(item)">+</button>
      <button type="button" class="btn btn-sm btn-outline-secondary btn" (click)="removeItem(item)">-</button>
      <br />
      <span>price: {{item.price * item.quantity}} $</span>
    </div>
  </li>

</ul>